@charset "utf-8";
/* CSS Document */

table {
	background-color:#AACCF7;
	line-height:2;
	border-style: solid;
	border-color:#48AAFF;
	border-width:thick;
}


a {
	color: black;
	text-decoration: underline;
}
td {
	padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 25px;
	color:black;
}

.title {
	font-weight: bold;
	text-align:right;
}
.title_arabic {
	font-weight: bold;
	text-align: left; 
}
.content_arabic {
	text-align:right;
}
#bottom {
	text-align: center;
}